.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.message__info {
  padding-left: 20px;
}

.message__timestamp {
  font-size: x-small;
  font-style: italic;
  color: grey;
  margin-left: 20px;
}
