.sidebarChannel > h4:hover {
  color: white;
  background-color: #40464b;
}

.sidebarChannel > h4 {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}
